{% extends 'base.html' %}

{% block body %}
     <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Update Customer Type</h3></div>
                                    <div class="card-body">
                                        <form method="post" action="{% url 'leadsource:customertype_update' customertype.id  %}" >
                                           {% csrf_token %}
                                            {{ form.as_p }}
                                            <div class="form-group mt-4 mb-0"><input type="submit" value="Update Customer Type" class="btn btn-primary btn-block" ></input></div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>





{% endblock %}